<ion-view view-title="NewChild">
    <ion-nav-buttons side="left">
        <button class="button back-button" ng-click="$ionicGoBack()" style="">
            <i class="icon"> Cancel</i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="ChildrenCtrl.addAChild()" style="">
            <i class="icon">Save</i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="item item-avatar">
            <img src="img/sau.png">
            <h2>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Full Name</span>
                    <input ng-model="vm.child.name" type="text" placeholder="Khue">
                </label>
            </h2>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="date" ng-model="vm.child.birthday" placeholder="Birthday">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Gender
                </div>
                <select ng-model-options="vm.child.gender">
                    <option>Boy</option>
                    <option selected>Girl</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="text" ng-model="vm.child.mom_contact" placeholder="Mom Phone Number">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="vm.child.dad_contact" placeholder="Dad Phone Number">
            </label>
        </div>
    </ion-content>
</ion-view>
